.service {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 200px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid var(--text-light);
    box-shadow: var(--shadow);
    transition: 200ms;
}

.service:hover {
    box-shadow: none;
}

.stealth {
    visibility: hidden;
}

.service_marquee {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: var(--brand);
    object-fit: cover;
    width: 100%;
    height: 75px;
}

.service_logo {
    position: absolute;
    background: var(--brand-accent);
    top: 40px;
    left: 20px;
    width: 65px;
    height: 65px;
    object-fit: cover;
    outline: 3px solid #fff;
    box-shadow: var(--shadow-small);
}

.service_details {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px 20px 20px 20px;
}

.service_name {
    font-weight: bold;
    font-size: 15px;
    margin-left: 80px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.service_about {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.service_location {
    font-size: 11px;
    color: var(--text-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
}

.service_description {
    font-size: 10px;
    color: var(--text-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    height: 25px;
}