.top_text {
    display: block;
    width: 400px;
    padding-left: 20px;
    margin: 50px auto;
    color: #000;
}

.sign_up_container {
    background: #fff;
    width: 300px;
    padding: 50px;
    margin: auto;
    border-radius: 5px;
    box-shadow: #959da533 0px 8px 24px;
}

.sign_up_title,
.top_text {
    font-weight: bold;
    font-size: 15px;
}

.sign_up_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.sign_up_form>* {
    width: 100%;
}

.sign_up_form>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sign_up_form>div>label {
    font-size: 10px;
    font-weight: 500;
}

.bottom_text {
    font-size: 10px;
}

@media screen and (max-width: 500px) {
    .top_text {
        width: 100%;
    }

    .sign_up_container {
        width: calc(100% - 100px);
    }
}