.dashboard {
    margin-bottom: 50px;
}

.company,
.department {
    padding: 50px;
}

.title {
    font-weight: bold;
    font-size: 50px;
    padding: 50px;
    padding-bottom: 0;
}

@media screen and (max-width: 600px) {
    .title {
        margin-left: 50px;
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    .title {
        margin: 0;
        padding: 50px;
        font-size: 30px;
        text-align: center;
    }

    .company,
    .department {
        padding: 0;
    }
}