nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    background: #fff;
    box-shadow: #959da533 0px 10px 25px;
}

.pages {
    display: flex;
    gap: 15px;
}

.page {
    padding: 3px 5px;
    position: relative;
    transition: 200ms;
}

.page:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: 200ms;
}

.page:hover {
    color: #fff;
    transform: translateY(-2px);
}

.page:hover:before {
    transform: scaleX(1);
}

@media screen and (max-width: 500px) {
    .pages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}