@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    --brand: #60a5fa;
    --brand-accent: #3b82f6;
    --text: #3c4257 !important;
    --text-light: #d0d5da !important;
}

body {
    font-family: "Inter";
    background: #fafbfc;
    background-image: radial-gradient(#00000066 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -10px -10px;

    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--brand-accent);
}

button,
.fill_button {
    cursor: pointer;
    background: #fff;
    color: var(--brand);
    padding: 10px 15px;
    border: 1px solid var(--brand);
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    transition: 200ms;
}

.fill_button {
    background: var(--brand);
    color: #fff;
    border: none;
}

button:hover {
    background: var(--brand-accent);
    color: #fff;
    border-color: transparent;
}

.fill_button:hover {
    background: var(--brand-accent);
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea,
select {
    background: #fff;
    border: 1px solid var(--text-light);
    border-radius: 5px;
    display: block;
    padding: 10px 15px;
    font-size: 12px;
    transition: 200ms;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    outline: 2px solid var(--brand);
}

textarea {
    transition: 0ms;
}

.checkbox_container {
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 10px;
    line-height: 13.6px;
    user-select: none;
}

.checkbox_container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkbox_container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background: #fff;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    transition: 200ms;
}

.checkbox_container:hover .checkmark {
    box-shadow: #959da533 0px 5px 10px;
}

.checkbox_container input:checked~.checkmark {
    background: #3b82f6;
}

.checkbox_container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox_container input:checked~.checkmark:after {
    display: block;
}

.checkbox_container .checkmark:after {
    left: 4.5px;
    top: 2px;
    width: 2px;
    height: 5px;
    border: solid white;
    border-width: 0 1.8px 1.8px 0;
    transform: rotate(45deg);
}